@import './../../../styles/settings.scss';

.container {
  width: 1000px;
  height: 50px;
  display: flex;
  margin: 20px auto;
  justify-content: space-between; 
}

.logo {
  height: 100%;
}

.menu {
  list-style: none;

  li  {
    float: left;
    display: block;
    margin-left: 20px;
    
    a {
      text-decoration: none;
      font-family: $navbar-font-family;
      font-weight: $navbar-font-weight;
      color: $navbar-link-color;
      font-size: $navbar-font-size;
    }
  }  
}
