@import './../../../styles/settings.scss';

.container {
  background-color: $home-bg-header-color;
  text-align: center;
  position: relative;
}

.card {
  background: linear-gradient(white 100px, $fifth 100px 450px);;
  padding: 0 100px;
  margin: 50px auto;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 50px;
  left: 50%;
}

.imgcontainer {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;

  div {
    position: relative;
    width: 300px;
    text-align: center;
    
    img {
      object-fit: cover;
      height: 400px;
      width: 300px;
      cursor: pointer;
      opacity: 0.5;
      transition: 1s;
    } 

    div {
      position: absolute;
      bottom: 0;
      background-color: $picture-descrobe-bg-color;
      color: $picture-describe-font-color;
      transition: 1s;
      cursor: pointer;
      opacity: 0;
    }
  }

  div:hover {
    img {
      opacity: 1;
    }

    div {
      opacity: 1;
    }
  }
}