//colour
$first: white;
$second: black;
$third: #f4131d;
$fourth: #282a30;
$fifth: #e4e4e4;

//font
$first-font: 'Montserrat', sans-serif;

//navbar
$navbar-link-color: $second;

$navbar-font-family: $first-font;
$navbar-font-weight: 500;
$navbar-font-size: 18px;

//baner
$banner-bg-color: $fourth;
$banner-font-color: $first;
$banner-border-color: $third;

$banner-font-size: 50px;

//footer
$footer-bg-color: $fourth;
$footer-font-color: $first;

//social
$social-bg-color: $first;
$social-font-color: $fourth;

$social-bg-color-activ: $third;
$social-font-color-activ: $first;

//home
$home-header-font-color: $third;
$home-header-font-size: 30px;

$home-bg-header-color: $first;

$home-sub-header-font-color: $second;
$home-sub-header-font-size: 24px;

//homecard
$home-card-bg-icon-color: $third;
$home-card-font-icon-color: $first;
$home-card-bg-color: $first;

//homepicture
$picture-describe-font-color: $first;
$picture-descrobe-bg-color: $third;

//button
$button-border-color: $third;
$button-bg-color: $first;
$button-bg-color-aktive: $third;
$button-font-color: $third;
$button-font-color-aktive: $first;

//configurator
$configurator-line-bg-color: $third;
$configurator-line-text-color: $first;

$configurator-button-color: $fourth;
$configurator-button-text-color: $first;

$configurator-button-color-aktiv: $third;

//foil container
$foilcontainer-text-color: $first;
$foilcontainer-bg-color: $fourth;