@import './../../../styles/settings.scss';

.on {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.9);
  z-index: 1;
  left: 0;
  top: 0;
}

.header {
  height: 50px;
  background-color: $foilcontainer-bg-color;
  color: $foilcontainer-text-color;
}

.foilcontainer {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.off {
  display: none;
}

.button {
  border-radius: 5px;
  border: 2px solid $first;
  color: $configurator-button-text-color;
  background-color: $configurator-button-color;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 30px;
}
